// Colors
$primary: #0466C8;
$primary-dark: #0353A4;
$background: #001845;
$background-dark: #001233;

$secondary: #979DAC;
$secondary-dark: #7D8597;

$dark-gray: #5C677D;
$darker-gray: #33415C;

$fun-blue: #479CF0;
$fun-red: #F04765;