@import "vars";
@import "utilities";
@import "resets";
@import "nav";
@import 'button';
body {
  background-color: $background-dark;
}
.overlay {
  position: absolute;
  background: black;
  opacity: 0.5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.tutorials {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.tutorial_container {
  width: 400px;
  cursor: pointer;
  .img-wrapper {
    height: 225px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
}
.active_tutorial {
  z-index: 3;
  background-color: white;
}
.origin-comment + div {
  margin-left: 20px;
}