{%extends 'tutorial_index/layout.html'%} {%block title%}Home{%endblock%} {%block body%}
{%block category%}{%endblock%}
<div class="add-video"><a href="{%url 'add-video'%}">Add a new video</a></div>
{%block categories_list%}
<div style="overflow-x: scroll;">
  {%for category in categories%}
  <a href="{%url 'category' category.name%}">{{category.name}}</a>
  {%endfor%}
</div>
{%endblock%}
<main class="tutorials">
  {%for tutorial in tutorials%}
  <div class="tutorial_container">
    <div onclick="showTutorial({{tutorial.id}}, '{{request.user.username}}')">
      <div class="img-wrapper">
        <img src="https://img.youtube.com/vi/{{tutorial.video_id}}/hqdefault.jpg" alt="" />
      </div>
      <h3>{{tutorial.title}}</h3>
      <p>{{tutorial.description}}</p>
    </div>
    <!-- Categories -->
    <div>
      {%for category in tutorial.category.all%}
      <a href="{%url 'category' category.name%}" class="category">{{category.name}}</a>
      {%endfor%}
      <span style="float: right;">{{tutorial.comments.all | length}} Comments</span>
    </div>
  </div>
  {%endfor%}
</main>
<div style="display: flex; justify-content: center; align-items: center; position: absolute; top: 0; right: 0; bottom: 0; left: 0; visibility: hidden;">
  <div class="active_tutorial" style="visibility: hidden">
    <button onclick="closeTutorial()">X</button>
    <iframe src=""></iframe>
    <h1></h1>
    <p id="description"></p>
    <div id="categories"></div>
    <button class="like_button" data-liked>Upvote</button>
    <p id="like_counter"></p>
    <button class="dislike_button" data-disliked>Downvote</button>
    <p id="dislike_counter"></p>
    <div class="comments"></div>
    <form id="commenting_form">
      <label for="comment">Write a new comment:</label>
      <input type="text" name="comment" name="comment_content">
      <input type="submit" value="Comment">
    </form>
  </div>
  <div class="overlay" style="visibility: hidden" onclick="closeTutorial()"></div>
</div>
{%endblock%}