{%extends 'tutorial_index/layout.html'%}
{%block title%}Home{%endblock%}

{%block body%}
<div class="add-video"><a href="{%url 'add-video'%}">Add a new video</a></div>
<main class="tutorials">
  {%for tutorial in tutorials%}
  <div class="tutorial_container" onclick="showPost({{tutorial.id}})">
    <div class="img-wrapper">
      <img src="https://img.youtube.com/vi/{{tutorial.video_id}}/hqdefault.jpg" alt="">
    </div>
    <h3>{{tutorial.title}}</h3>
    <p>{{tutorial.description}}</p>
    <div>
      {%for category in tutorial.category.all%}
        <a href="{%url 'category' category.name%}" class="category">{{category.name}}</a>
      {%endfor%}
    </div>
  </div>
  {%endfor%}
  <div class="active_tutorial"></div>
</main>
<div class="overlay" style="visibility: hidden;"></div>
{%endblock%}