{%extends 'tutorial_index/layout.html'%} {%block title%}Home{%endblock%} {%block body%}
<div class="container">
  {%block header%}
    <header>
      <div id="categories_list_container">
        <div class="gradient-overlay"></div>
        <div class="categories">
          {%for category in categories%}
          <a href="{%url 'category' category.name%}"><button class="secondary pill">{{category.name}}</button></a>
          {%endfor%}
        </div>
      </div>
      {%if user.is_authenticated %}
      <a href="{%url 'add-video'%}"><button class="primary clear"><i class="fas fa-plus fa-lg"></i></button></a>
      {%endif%}
    </header>
    <h1 class="my-4">All Tutorials</h1>
  {%endblock%}
  <main class="tutorials grid-3">
    {%for tutorial in tutorials%}
    <article class="tutorial_container" data-tutorial-id="{{tutorial.id}}">
      <div onclick="showTutorial({{tutorial.id}}, '{{request.user.username}}')" class="click_area">
        <div class="cover-image" style="background-image: url('https://img.youtube.com/vi/{{tutorial.video_id}}/hqdefault.jpg');"></div>
        <div class="content">
          <h2>{{tutorial.title}}</h2>
          <p>{{tutorial.description}}</p>
        </div>
      </div>
      <!-- Categories -->
      <div class="information">
        <div class="categories_comments_container">
          <div id="categories_list_container">
            <div class="gradient-overlay"></div>
            <div class="categories">
              {%for category in tutorial.category.all%}
              <a href="{%url 'category' category.name%}"><button class="secondary pill outline">{{category.name}}</button></a>
              {%endfor%}
            </div>
          </div>
          <span class="secondary">{{tutorial.comments.all | length}} <i class="fas fa-comment-alt fa-sm"></i></span>
        </div>
        <div class="votes_container">
          <span class="upvote_counter">{{tutorial.likes.all|length}} <i class="fas fa-arrow-up"></i></span>
          <span class="downvote_counter"><i class="fas fa-arrow-down"></i> {{tutorial.dislikes.all|length}}</span>
        </div>
      </div>
    </article>
    {%endfor%}
  </main>
</div>
<div class="active_tutorial" style="visibility: hidden">
  <div style="text-align: right;">
    <button class="primary clear" onclick="closeTutorial()"><i class="fas fa-times fa-lg"></i></button>
    <button class="trash"><i class="fas fa-trash-alt"></i></button>
  </div>
  <div class="my-2 iframe-container">
    <iframe src=""></iframe>
  </div>
  <div style="flex-grow: 2; overflow-y: auto;">
    <h1 class="my-2"></h1>
    <p id="description"></p>
  </div>
  <div class="flex-container">
    <div id="categories"></div>
    <button class="like_button clear" data-liked>
      <i class="fas fa-arrow-up"></i>
      <span id="like_counter"></span>
    </button>
    <button class="dislike_button clear" data-disliked>
      <i class="fas fa-arrow-down"></i>
      <span id="dislike_counter"></span>
    </button>
  </div>
  <span id="comment_count"></span>
  <div class="comments"></div>
  <form id="commenting_form">
    <div class="comment">
      <label for="comment" style="font-weight: bold;"></label>
      <input type="text" name="comment" name="comment_content" placeholder="Write a new comment">
    </div>
    <input type="submit" value="Comment" class="secondary small" style="float: right; margin-top: 5px;">
  </form>
</div>
<div class="overlay" style="visibility: hidden" onclick="closeTutorial()"></div>

{%endblock%}