{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/d9cb1a845b.js" crossorigin="anonymous"></script>
    <title>{%block title%}{%endblock%}</title>
  </head>
  <body>
    <div class="nav">
      <a href="{%url 'index'%}"><img src="{%static 'assets/Logo.svg'%}" alt=""></a>
      {%if user.is_authenticated %}
      <div style="width: 50px;">
        <img src="{%static 'assets/Profile.svg'%}" alt="">
        <a href="{%url 'logout'%}" class="secondary navlink">Logout</a>
      </div>
      {%else%}
      <a href="{%url 'login'%}" class="navlink">Login</a>
      {%endif%}
    </div>
    {%block body%}
    {%endblock%}
    {%block js%}
    {%endblock%}
    <footer>
      <h2>Created by Raheel Junaid</h2></footer>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
